<div class="item">
    <div class="post">
        <img src="/img/card_y.png" />
        <div class="message">
            <p><%- message %></p>
        </div>
    </div>
    <div class="tools">
        <div class="icon rem">
            <img src="/img/delete_icon.png" class="fill"/>
        </div>
        <div class="icon ins">
            <img src="/img/ins_icon.png" class="fill"/>
        </div>
    </div>
</div>