<html>
<head>
    <%- include("../head.ejs") %>
    <title>初回登録</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: orange;">
    <%- include("../header.ejs")%>

    <div class="content fit">
        <div class="row" style="margin:5px 0">
            <p class="w xl">初回登録</p>
        </div>
        <div class="row" style="margin:5px 0">
            <p class="w">@Collectで使用するIDを入力してください。</p>
        </div>

        <div class="row" style="margin:5px 0">
            <input type="text" class="l" id="in_id" placeholder="idを入力してください" style="padding:5px"/>
        </div>

        
        <div class="row" style="margin:5px 0">
            <p class="s" style="color:gray">3-12文字の英数字のみで入力してください。</p>
        </div>

        <div class="row" style="margin:30px 0">
            <input type="button" class="ibtn" value="完了" id="btn_ok"/>
        </div>
    </div>

    <script>

        $("#btn_ok").click(async()=>{
            const val = $("#in_id").val();
            if((3 > String(val).length)||(12<String(val).length)) return window.alert("入力されたIDの文字数が正しくありません");
            if(!isHarfEisu(String(val))) return window.alert("入力された文字が正しくありません。");
            var ans = await window.confirm(`IDは[${val}]でよろしいでしょうか？`,"OK","Cansel");
            if(!ans) return;

            var result = await mkId(val);
            console.log(result);

            if(!result) window.alert("不明なエラーが発生しました。");
            else if(result.status=="success") location.href = "/mypage/";
            else window.alert(`エラー\n${result.message}`);
        })

        function mkId(id){
            return new Promise((x)=>{
                $.ajax({
                    url : '/mkuser/',
                    type : 'POST',
                    data : {
                        id : id
                    }
                })
                .done( (data) => {
                    console.log("Ajax Success",data);
                    x(data);
                })
                .fail( (data) => {
                    console.log("Ajax Err",data);
                    x(null)
                });
            }) 
        }
    </script>

</body>
</html>