<html>
<head>
    <%- include("../head.ejs") %>
    <title>My/Post</title>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <link rel="stylesheet" href="/inst_view.css">
</head>
<body>
    <%- include("../header.ejs",{title:"投稿を作成"})%>
    <%- include("../inst_view.ejs")%>

    <form action="/create" method="POST">

    <div class="content">
        <div class="row" style="margin: 15px 0;">
            <!-- <p class="s g">「～だけどどう思う？」など投稿して匿名メッセージを募集しよう！</p> -->
        </div>

        <div class="post">
            <img src="/img/card_y.png" />
            <div class="message">
                <textarea class="in_text" style="font-size: 20px; margin-top: 20px;" maxlength="128" placeholder="投稿内容を入力" 
                    name="message" id="tx_post"></textarea>
            </div>
        </div>
    
        <div class="row" style="margin-top: 90px;">
            <input type="submit" class="ibtn send or" id="in_submit" value="投稿を作成"/>
        </div>

    </div>

    </form>

    <%- include("../footer.ejs")%>


</body>
</html>