<html>
<head>
    <%- include("../head.ejs") %>
    <title>My/Post</title>
</head>
<body>
    <%- include("../header.ejs",{title:"投稿を作成"})%>

    <div class="bg_or" ></div>

    <form action="/create" method="POST">

    <div class="top_area">
        <div class="row">
            <p class="w s">「～だけどどう思う？」など投稿して匿名メッセージを募集しよう！</p>
        </div>

        <div class="post">
            <img src="/img/card_y.png" />
            <div class="message">
                <textarea class="in_text" maxlength="128" placeholder="投稿内容を入力" 
                    name="message" id="tx_post"></textarea>
            </div>
        </div>
    </div>

    <div class="content pd">
        <div class="row">
            <input type="submit" class="ibtn send or" id="in_submit" value="投稿を作成"/>
        </div>
        <div class="row s" style="margin:20px 0;">
            <p>または</p>
        </div>
        <div class="row">
            <input type="button" class="ibtn" value="質問を募集する" id="btn_mkq"/>
        </div>
    </div>
    
    </form>

    <script>
        $("#btn_mkq").click(()=>{
            $("#tx_post").val("質問募集中！！");
            $("#in_submit").click();
        });
    </script>

</body>
</html>