<footer class="footer" style="bottom:env(safe-area-inset-bottom)">
    <a href="/every" class="tab"><img src="/img/people.png" class="icon"/><p class="w xs">みんなの質問</p></a>
    <a href="/mypage" class="tab"><img src="/img/write.png" class="icon"/><p class="w xs">投稿</p></a>
    <a href="/myquestion" class="tab"><img src="/img/mail.png" class="icon"/><p class="w xs">質問</p></a>
</footer>