<html>
<head>
    <%- include("./head.ejs") %>
    <title>匿名メッセージ募集サービス | @Collect</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: orange;">
    <%- include("./header_t.ejs")%>

    <div class="content">
        <div class="row line" style="margin:15px 0">
            <!-- <p class="w xl">@Collectとは？</p> -->
            <!-- <p class="w s">自分の投稿に匿名でコメントを募集するWEBサービスです。</p> -->
        </div>

        <div class="row line" style="margin:10px 0">
            <img src="/img/at-collect.png" style="width: 140px ;height: 140px;"/>
        </div>

        <div class="row c">
            <p class="w l" style="margin-bottom: 30px;">@Collect</p>
            <!-- <p class="w">アプリのインストールなどの手間は不要</p>
            <p class="w">ログインをすればすぐ始められます</p> -->
        </div>

        <!-- とりあえず♡
        <div class="row c" style="background-color:white;margin:10px;max-width:400px;border-radius:10px;">
            <p class="l" style="margin:3px;">重要なお知らせ</p>
            <p style="margin:5px">当サービスは維持が困難な為、終了予定です<br>使ってくれた方々、ありがとうございました。<br><br>20.6.10 <a href="https://younaship.com">YounashiP</a></p>
        </div>
        -->

        <div style="background-color: #FFCC2D;width: 100%;text-align: center;margin:0 auto;position:sticky; top : 0px;z-index : 1">
            <p class="w xs" style="margin-top:15px;font-size: 1.3rem;font-weight: bold;">今すぐはじめよう</p>
            <div style=" margin:0 auto; width: fit-content;">
                <input type="button" class="ibtn tw"
                    onclick="location.href='/signin?signin=tw'" value="Twitterではじめる"/>
                <input type="button" class="ibtn face" style="margin-bottom: 20px;"
                    onclick="location.href='/signin?signin=face'" value="FaceBookではじめる"/>
            </div>
        </div>
        <p class="w xs" style="margin:10px 0px;">※どの方法でログインしても同意なしに投稿・フォローなどがされることはありません</p>
            

        <div class="row line" style="margin: 50px 130px 0 0px; font-size: 3rem; font-weight: bold;">
            <p class="w l" style="font-size: 2rem;">@Collectとは？</p>
        </div>

        <div class="" style="margin-top: 50px;">
            <p class="w l"><b>1.相手に質問を聞ける</b></p>
            <p class="w" style="margin-bottom: 30px; font-size: 13px;">匿名での質問やメッセージを募集出来ます</p>
            <img src="/img/topp1.png" style="width:380px">
        </div>

        <!-- <div class="row line" style="margin-top:5px">
            <p class="w">自分の投稿に匿名でのメッセージを募集出来ます</p>
        </div>
        <div class="row line" style="margin-bottom:5px;">
            <p class="w">匿名なのでアンケートや意見を募集するのにピッタリ</p>
        </div> -->


        <div class="" style="margin:50px 0;">
            <p class="w l"><b>2.質問・メッセージを募集できる</b></p>
            <p class="w" style="margin-bottom: 30px; font-size: 13px;">自分に匿名での質問やメッセージを募集出来ます</p>
            <img src="/img/topp2.png" style="width:380px">
        </div>

        <!-- <div class="row line" style="margin:5px 0;">
            <p class="w">自分に匿名での質問やメッセージを募集出来ます</p>
        </div>

        <div class="row line" style="margin-top:20px;">
            <p class="w">機能はいたってシンプル</p>
        </div>
        <div class="row line" style="0">
            <p class="w">さあ、あなたもはじめましょう！</p>
        </div> -->

    </div>

</body>
</html>