<html>
<head>
    <%- include("../head.ejs") %>
    <title><%- name %>さんの最新投稿</title>
</head>
<body>
    <%- include("../header.ejs")%>
    <div class="content">
        <div class="bg_or" ></div>
    </div>

    <%- include("../cell/post_b.ejs",{message:""}) %>

</body>
</html>