<div class="post">
    <img src="/img/card_b.png" />
    <div class="message">
        <p><%- message %></p>
    </div>
    <% if(link){ %>
    <a href="<%- link %>" class="link"></a>
    <% } %>
</div>