<html>
<head>
    <%- include("../head.ejs") %>
    <title>Wait for Signin</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="background-color: orange;">
    <%- include("../header_t.ejs")%>

    <div class="content fit">
        <div class="row line" style="margin:10px 0">
            <img src="/loading.gif" style="width:50px"/>
        </div>  
        <div class="row line" style="margin:5px 0 ;text-align: center; font-size: 6vw; font-weight: bold;">
            <p class="w">ログイン情報を確認しています。</p>
        </div>
        <div class="row line" style="margin:5px 0; text-align: center; font-size: 6vw; font-weight: bold;">
             <p class="w">しばらくお待ちください。</p>
        </div>
        <p class="row w s" id="result_message" style="margin:5px 0"></div>
    </div>

    <script>

        const chk = async ()=>{ 
            const state = await chkLoginAsync();
            if(state && await signInSv()) return location.href = "/mypage" ;
            return location.href = "/"
        };
        if(location.hash){
            ac.chkRedSignIn(async(r,name)=>{
                if(!r){
                    $("#result_message").html("認証に失敗しました。");
                    setTimeout(()=>location.href="/",300);
                }else{
                    $("#result_message").html('ようこそ@Collectへ。もう間もなく準備が完了します。');
                    if(await signInSv(r)) return location.href = "/mkuser?name="+encodeURI(name);
                    window.alart("不明なエラーが発生しました。");
                    location.href = "/";
                }
            },getParam("signin"));
        }
        else if(getParam("signin")) {
            switch(getParam("signin")){
                case "tw" : 
                    if(!location.hash){
                        location.hash = "on";
                        ac.signInWithTw();
                    }
                case "face" :
                    if(!location.hash){
                        location.hash = "on";
                        ac.signInWithFace();
                    }
            }
        }else{
            chk();
        }
    
    </script>

</body>
</html>